<div class="container h-75 d-flex flex-column justify-content-around">
    <div class="row justify-content-center">
        <div class="col-4">
            <h2 class="mb-4">Registro</h2>
            <form action="/register" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-at fa-fw"></i></span>
                    <input name="name" type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" placeholder="Name..." value="{{user.name}}" />
                    {{#if errors.name}}
                        <div class="invalid-feedback">
                            {{errors.name}}
                        </div>
                    {{/if}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-envelope fa-fw"></i></span>
                    <input name="email" type="text" class="form-control {{#if errors.email}}is-invalid{{/if}}" placeholder="Email: example@example.com" value="{{user.email}}" />
                    {{#if errors.email}}
                        <div class="invalid-feedback">
                            {{errors.email}}
                        </div>
                    {{/if}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-phone fa-fw"></i></span>
                    <input name="phone" type="text" class="form-control {{#if errors.phone}}is-invalid{{/if}}" placeholder="Phone..." value="{{user.phone}}" />
                    {{#if errors.phone}}
                        <div class="invalid-feedback">
                            {{errors.phone}}
                        </div>
                    {{/if}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-key fa-fw"></i></span>
                    <input name="password" type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" placeholder="Password..." />
                    {{#if errors.password}}
                        <div class="invalid-feedback">
                            {{errors.password}}
                        </div>
                    {{/if}}
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
                <hr>
                <div class="d-grid gap-2">
                    <a href="/login" class="btn btn-secondary">Login</a>
                </div>
            </form>
        </div>
    </div>
    <div class="w-100"></div>
</div>