<div class="container mt-5 {{#if establishments }}{{else}}h-75{{/if}}">
    {{#if establishments }}
        <h3>¿Quieres comer?</h3>
        <h4>{{#if location }}Estos son tus restaurantes cercanos{{else}}Selecciona uno de nuestros restaurantes{{/if}}</h4>
        <div class="row">
            {{#each establishments }}
                <div class="col-3 custom-dimension mt-5 mb-5">
                    <a class="d-flex justify-content-center align-items-center custom-img-dimensions custom-align-center" href="/order/{{this.id}}/create" data-bs-toggle="tooltip" data-bs-title="{{this.name}}">
                        <div class="img-hover-zoom card h-100 w-100 overflow-hidden rounded-circle">
                            <img src="{{this.photo}}" class="card-img h-100 w-100" alt="{{this.name}}">
                        </div>
                    </a>
                    <div class="w-100 text-center mt-2"><span class="bg-custom-navbar fw-bold ps-2 pe-2 pt-1 pb-1 rounded">{{this.name}}</span></div>
                    <div class="w-100 text-center mt-1"><span class="fst-italic">Localización: </span><span class="fst-italic fw-bold">{{this.locality}}</span></div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="row h-100 align-content-center">
            <div class="col-12 text-center">
                No tenemos ningún establecimiento registrado.
            </div>
        </div>
    {{/if}}
</div>