<nav class="navbar sticky-top navbar-expand-lg bg-custom-navbar">
    <div class="container-fluid">
        <a href="/"><img class="custom-img-logo" src="/image/glovo-1.svg" /></a>
        {{#if currentUser }}
            <form class="d-flex" role="search" action="/filter-search" method="GET">
                <input class="form-control me-2" name="search" type="search" placeholder="Búsqueda..." value=""{{search}} />
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
            <div class="d-flex">
                <div class="btn-group">
                    <a class="btn btn-light rounded-circle me-2" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-user fa-fw"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li><span class="dropdown-item fst-italic">{{currentUser.email}}</span></li>
                        <li><a class="dropdown-item" href="/users/{{currentUser._id}}">Actualizar usuario</a></li>
                        <li><a class="dropdown-item" href="/payments">Gestionar Métodos de Pago</a></li>
                        {{#if currentUser.isAdmin}}<li><a class="dropdown-item" href="/establishment">Gestionar establecimientos</a></li>{{/if}}
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="/logout" method="POST">
                                <button class="dropdown-item" type="submit">Desconectar</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-light rounded-circle me-2" href="/orders/{{currentUser._id}}">
                        <i class="fa-regular fa-rectangle-list fa-fw"></i>
                    </a>
                </div>
            </div>
        {{else}}
            <a class="btn btn-success rounded-pill text-white fs-5 fw-bold pt-2 pb-2 ps-4 pe-4" href="/login">Empezar</a>
        {{/if}}
    </div>
</nav>
{{#if hideHeaders }}
{{else}}
    <div class="d-flex justify-content-center mb-5 bg-custom-navbar pb-5">
        <video autoplay="autoplay" loop="loop" muted="muted">
            <source src="https://res.cloudinary.com/glovoapp//video/upload//website_assets/images/landing/address-container-animation.webm" preload="auto" type="video/webm">
        </video>
        <div class="d-flex flex-column align-items-center justify-content-center custom-first-banner-max-width">
            <h1 class="text-center fw-bold fs-custom-first-banner">Comida y bebida a domicilio</h1>
            <p class="fs-custom-second-banner">¡Introduce tu dirección para llevartelo!</p>
            <div class="input-group mb-3">
                <span class="input-group-text bg-success"><i class="fa-regular fa-flag fa-fw"></i></span>
                <input type="text" class="form-control" placeholder="¿Cual es tu dirección?" />
            </div>
        </div>
    </div>
{{/if}}