{{> header hideHeaders = true}}

<div class="container h-75 d-flex flex-column justify-content-around">
    <div class="row justify-content-center">
        <div class="col-4">
            <h2 class="mb-4 text-center">Detalles de Usuario</h2>
            <h5 class="mb-4 text-center text-success fst-italic">{{user.email}}</h5>
            <form action="/users/{{user._id}}/update" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-user fa-fw"></i></i></span>
                    <input type="text" name="name" class="form-control {{#if errors.name }}is-invalid{{/if}}" placeholder="Nombre" value="{{user.name}}" />
                    <div class="invalid-feedback mt-2">{{errors.name}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-phone fa-fw"></i></i></span>
                    <input type="text" name="phone" class="form-control {{#if errors.phone }}is-invalid{{/if}}" placeholder="Telefono" value="{{user.phone}}" />
                    <div class="invalid-feedback mt-2">{{errors.phone}}</div>
                </div>
                <a class="btn btn-link pb-0 pt-0 ps-0" href="/users/{{user._id}}/change-password">¿Quieres cambiar tu contraseña?</a>
                <a class="btn btn-link pb-0 pt-0 ps-0 mb-4" href="/payments/{{user._id}}">¿Quieres admnistrar tus métodos de pago?</a>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Modificar Usuario</button>
                </div>
            </form>
        </div>
    </div>
    <div class="w-100"></div>
</div>