<div class="container h-75 mt-5 mb-5">
    <h1 class="text-success">{{establishment.name}}</h1>
    {{#if location}}<h4>Localizacion: <span class="fst-italic">{{location.localityOrder}}</span></h4>{{/if}}
    <h2>Listado de Productos</h1>
    <div class="row">
        <div class="col-8 mt-5">
            <div class="row">
                {{#if (isObjectNotEmpty products)}}
                    <div class="accordion" id="accordionProducts">
                        {{#each products}}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{@key}}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{@key}}" aria-expanded="true" aria-controls="collapse{{@key}}">
                                        {{this.[0].cluster}}
                                    </button>
                                </h2>
                                {{#each this}}
                                    <div id="collapse{{this.keyCluster}}" class="accordion-collapse collapse" aria-labelledby="heading{{this.keyCluster}}" data-bs-parent="#accordionProducts">
                                        <div class="accordion-body mb-3 mt-3">
                                            <div class="row justify-content-center">
                                                <div class="col-3 d-flex justify-content-center">
                                                    <img class="img-size-product-custom" src="{{this.photo}}" />
                                                </div>
                                                <div class="col-3 text-center d-flex flex-column justify-content-center">
                                                    {{this.name}}
                                                </div>
                                                <div class="col-3 text-center custom-currency d-flex flex-column justify-content-center">
                                                    <span>{{this.price}}</span>
                                                </div>
                                                <div class="col-2 d-flex justify-content-between">
                                                    <span class="d-flex flex-column justify-content-center">
                                                        <button class="minusProduct btn btn-link text-muted" onclick="decreasingProduct({ id: '{{this._id}}', name: '{{this.name}}', price: {{this.price}}, photo: '{{this.photo}}' })"><i class="fa-solid fa-minus fa-fw"></i></button>
                                                    </span>
                                                    <p id="{{this._id}}" class="d-flex justify-content-center align-items-center fs-5 custom-align-center">0</p>
                                                    <span class="d-flex flex-column justify-content-center">
                                                        <button class="plusProduct btn btn-link text-muted" onclick="incrementProduct({ id: '{{this._id}}', name: '{{this.name}}', price: {{this.price}}, photo: '{{this.photo}}' })"><i class="fa-solid fa-plus fa-fw"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="col-12 d-flex justify-content-center custom-dimension">No tenemos ningún producto para este establecimiento.</div>
                {{/if}}
            </div>
        </div>
        <div class="col-4">
            <h4>Tu pedido</h4>
            <form id="order" action="/order/{{establishment._id}}/create" method="POST">
                <div class="descriptionOrder row mb-3">
                    <div class="col-6 fw-bold">Producto</div>
                    <div class="col-3 fw-bold">Cantidad</div>
                    <div class="col-3 fw-bold">Precio</div>
                </div>
                <div class="descriptionProducts">

                </div>
                <input type="hidden" name="idUser" value="{{currentUser._id}}" />
                <input type="hidden" name="idPayment" value="{{idPayment}}" />
                <input type="hidden" name="longitudeOrder" value="{{location.longitudeOrder}}" />
                <input type="hidden" name="latitudeOrder" value="{{location.latitudeOrder}}" />
                <input type="hidden" name="address" value="{{location.address}}" />
                <input type="hidden" name="productsSelected" value="0" />
                <div class="row justify-content-around">
                    <div class="col-6">
                        <button type="submit" class="btn btn-success rounded mt-5" disabled>Crear Pedido</button>
                    </div>
                    <div class="col-3 d-flex justify-content-end align-items-end">
                        Total:
                    </div>
                    <div class="col-3 custom-currency d-flex justify-content-center align-items-end">
                        <span class="total-order">0</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <a href="/" class="btn btn-link ps-0">Volver al listado</a>
</div>