<div class="container h-75 d-flex flex-column justify-content-around">
    <div class="row justify-content-center">
        <div class="col-4">
            <h2 class="mb-4">Nuevo Establecimiento</h2>
            <form action="/establishment/create" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input name="name" type="text" class="form-control {{#if errors.name }}is-invalid{{/if}}" placeholder="Nombre establecimiento..." value="{{ establishment.name }}" />
                    {{#if errors.name}}
                        <div class="invalid-feedback">
                            {{errors.name}}
                        </div>
                    {{/if}}
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-5">
                            <label class="form-label me-2">Tipos de comida: </label>
                        </div>
                        <div class="col-7">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="foodType" value="Americano" {{#if establishment}}{{#if (inSelection establishment.foodType 'Americano') }}checked{{/if}}{{/if}} />
                                <label class="form-check-label"><i class="fa-solid fa-burger fa-fw" data-bs-toggle="tooltip" data-bs-title="Americano"></i></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="foodType" value="Asiatico" {{#if establishment}}{{#if (inSelection establishment.foodType 'Asiatico') }}checked{{/if}}{{/if}} />
                                <label class="form-check-label"><i class="fa-solid fa-bowl-rice fa-fw" data-bs-toggle="tooltip" data-bs-title="Asiatico"></i></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="foodType" value="Italiano" {{#if establishment}}{{#if (inSelection establishment.foodType 'Italiano') }}checked{{/if}}{{/if}} />
                                <label class="form-check-label"><i class="fa-solid fa-pizza-slice fa-fw" data-bs-toggle="tooltip" data-bs-title="Italiano"></i></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="foodType" value="Espa침ola" {{#if establishment}}{{#if (inSelection establishment.foodType 'Espa침ola') }}checked{{/if}}{{/if}} />
                                <label class="form-check-label"><i class="fa-solid fa-bacon fa-fw" data-bs-toggle="tooltip" data-bs-title="Espa침ola"></i></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="foodType" value="Mexicano" {{#if establishment}}{{#if (inSelection establishment.foodType 'Mexicano') }}checked{{/if}}{{/if}} />
                                <label class="form-check-label"><i class="fa-solid fa-pepper-hot fa-fw" data-bs-toggle="tooltip" data-bs-title="Mexicano"></i></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="foodType" value="Vegano" {{#if establishment}}{{#if (inSelection establishment.foodType 'Vegano') }}checked{{/if}}{{/if}} />
                                <label class="form-check-label"><i class="fa-solid fa-wheat-awn fa-fw" data-bs-toggle="tooltip" data-bs-title="Vegano"></i></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="foodType" value="Marisco" {{#if establishment }}{{#if (inSelection establishment.foodType 'Marisco') }}checked{{/if}}{{/if}} />
                                <label class="form-check-label"><i class="fa-solid fa-shrimp fa-fw" data-bs-toggle="tooltip" data-bs-title="Marisco"></i></label>
                            </div>
                        </div>
                    </div>
                    {{#if errors.foodType }}
                        <div class="invalid-feedback">
                            {{ errors.foodType }}
                        </div>
                    {{/if}}
                </div>
                <div class="mb-3">
                    <label class="form-label">Imagen</label>
                    <input name="photo" type="file" class="form-control {{#if errors.photo }}is-invalid{{/if}}" value="{{establishment.photo}}" />
                    {{#if errors.photo }}
                        <div class="invalid-feedback">
                            {{ errors.photo }}
                        </div>
                    {{/if}}
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Direcci칩n</label>
                            <input name="address" type="text" class="form-control google-places-finder-establishments {{#if errors.address}}is-invalid{{/if}}" value="{{establishment.address}}" placeholder="Direccion..." />
                            {{#if errors.address}}
                                <div class="invalid-feedback">
                                    {{ errors.address }}
                                </div>
                            {{/if}}
                        </div>
                    </div>
                    <input name="longitude" type="hidden" class="form-control" value="{{establishment.longitude}}"/>
                    <input name="latitude" type="hidden" class="form-control" value="{{establishment.latitude}}"/>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>