<div class="container h-75 d-flex flex-column justify-content-around">
    <div class="row justify-content-center">
        <div class="col-4">
            <h2 class="mb-4">Nuevo Producto</h2>
            <form action="/product/{{establishment._id}}/create" method="POST">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input name="name" type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" placeholder="Nombre producto..." value="{{product.name}}" />
                    {{#if errors.name}}
                        <div class="invalid-feedback">
                            {{errors.name}}
                        </div>
                    {{/if}}
                </div>
                <div class="mb-3">
                    <label class="form-label">Imagen</label>
                    <input name="photo" type="text" class="form-control {{#if errors.photo}}is-invalid{{/if}}" value="{{product.photo}}" placeholder="URL..." />
                    {{#if errors.photo}}
                        <div class="invalid-feedback">
                            {{errors.photo}}
                        </div>
                    {{/if}}
                </div>
                <div class="mb-3">
                    <label class="form-label">Precio</label>
                    <input name="lastPrice" type="text" class="form-control {{#if errors.price }}is-invalid{{/if}}" value="{{product.price}}" placeholder="Precio..." />
                    {{#if errors.price}}
                        <div class="invalid-feedback">
                            {{errors.price}}
                        </div>
                    {{/if}}
                </div>
                <div class="mb-3">
                    <label class="form-label">Categoría</label>
                    <input name="cluster" type="text" class="form-control {{#if errors.cluster }}is-invalid{{/if}}" value="{{product.cluster}}" placeholder="Categoria..." />
                    {{#if errors.cluster}}
                        <div class="invalid-feedback">
                            {{errors.cluster}}
                        </div>
                    {{/if}}
                </div>
                <div class="mb-3">
                    <label class="form-label">Tipo de producto</label>
                    <select name="type" class="form-select">
                        {{#each establishment.foodType}}
                            <option value="{{this}}" {{#if (isSame this product.type)}}selected{{/if}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <button type="submit" class="btn btn-outline-success">Crear Producto</button>
                    <a class="btn btn-link" href="/establishment/{{establishment._id}}/update">Volver atrás</a>
                </div>
            </form>
        </div>
    </div>
</div>